body{background-color:black;
}
h2{color: white;}
p{color: white;}
    



.grid{
    display:grid;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
    }

.grid-item{
width: 100px;
height: 100px;
margin: 10px;
background-color: blue;}

@media screen and (min-width:1024px;)
{
    .grid{width: 33.33%;}

}

@media screen and (min-width:760px;)
{
    .grid{width:50%;}

}

@media screen and (min-width:414px;)
{
    .grid{width: 100%;}

}


